@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Users" class="btn btn-primary">User</a>
    <a asp-controller="Home" asp-action="CreateEditUser" class="btn btn-secondary">Create New</a>
</div>
